__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
.venv/
.env
*.sqlite3
*.log
receipt_texts/
*.egg-info/
dist/
build/
.DS_Store
/.vscode/
.env
~$*
*.xlsx
*.xls
~$Transactions.xlsx
__pycache__/
*.pyc
receipts/
Transactions.xlsx
.venv/
venv/
